repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-flake8
      - id: end-of-file-fixer
      - id: mixed-line-ending  

  # black - formatting
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  # flake8 - linting
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8